@media only screen and (max-width: 1220px) {
    section {
        width: 100%;
    }
    .col-lg-5 {
        margin-top: 150px;
        width: 100%!important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .col-lg-4 {
        margin-top: 60px;
        width: 100%!important;
        margin-left: auto;
        margin-right: auto;
    }
    .col-lg-10 {
        margin-top: 40px;
        margin-bottom: 40px;
        display: block;
    }
    .row {
        height: 100%;
    }
    .grade-imagens {
        justify-content: center;
    }
    form {
        width: 100%;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1230px){
    .col-lg-4 {
        max-width: 70%;
    }
}

@media only screen and (max-width: 800px) {
    .menu-desktop {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .btn-abrir-menu {
        display: none;
    }
}