/* Gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

body {
    background-color: #fff;
    height: 100vh;
}

/* Menu de navegação */
.interface {
    max-width: 1280px;
    margin: 0 auto;
}
header {
    padding: 3px 4%;
    background-color: #006494;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
header nav ul {
    list-style: none;
}
header .menu-desktop ul li {
    display: inline-block;
    padding-right: 35px;
    font-size: 22px;
}
header .menu-desktop ul li:hover {
    font-weight: bold;
    transform: scale(1.1);
}
.logo-principal {
    font-weight: bold;
    font-size: 34px;
}
.destaque-logo {
    color: #e8f1f2;
}

.menu-desktop {
    min-width: 425px;
}
/* Fim do Menu de Navegação */

/* Corpo */

/* TOPO */

main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

main section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85vh;
    flex-wrap: wrap;
}

.col-lg-10 {
    width: 100%;
}

.col-lg-5 {
    width: 50%;
}

.col-lg-4 {
    width: 40%;
    display: block;
    flex-wrap: nowrap;
}

.grade-imagens {
    justify-content: flex-start;
    display: flex;
    padding-top: 20px;
}

.grade-tecnologias {
    justify-content: center;
    display: flex;
    padding-top: 5px;
}

.sub {
    font-size: 26px;
    line-height: 33px;
}

.title {
    font-size: 50px;
}

.destaque {
    color: #155EC4;
}

.botao {
    align-items: center;
    align-content: center;
    background-color: #fff;
    padding: 5px;
    width: 150px;
    margin: 10px;
    display: inline-flex;
    border: 2px solid #155EC4;
    border-radius: 15px;
    text-align: center;
}

.botao:hover {
    background-color: #155EC4;
    cursor: pointer;
}

.botao p {
    color: #155EC4;
    font-weight: bold;
}

.botao:hover p {
    color: #fff;
}

.animation {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 15px
    }
}

/* fim topo */

/*SOBRE*/

.divisor2 {
    transform: scaleX(-1);
}

a {
    text-decoration: none;
}

.just-center {
    justify-content: center;
    display: flex;
    text-align: center;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.icon-tec {
    cursor: pointer;
}

.grade-tecnologias img:hover {
    transform: scale(1.1);
}

[aria-label] {
    position: relative;
}

[aria-label]::after {
    content: attr(aria-label);
    display: none;
    position: absolute;
    top: 110%;
    left: 0px;
    z-index: 5000;
    pointer-events: none;
    padding: 8px 10px;
    text-decoration: none;
    font-size: .9em;
    color: #fff;
    background-color: #006494;
    border-radius: 10px;
    font-weight: bold;
}

[aria-label]:hover::after {
    display: block;
}
/* fim sobre */

/* Projetos */

#projetos .row {
    height: 100%;
    margin: 90px 0px;
}

.grade-projetos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
}

.projeto {
    min-width: 300px;
    min-height: 500px;
    border: 2px solid #006494;
    border-radius: 25px;
    background-size: cover;
    position: relative;
    background-position: center top;
    transition: 10s;
}

.projeto:hover {
    background-position: center 100%;
}

.overlay {
    position: absolute;
    background-color: #000000c0;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    opacity: 0;
    transition: 0.5s;
    color: #fff;
}

.overlay:hover {
    opacity: 1;
}

.overlay h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.overlay p, a {
    font-size: 18px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.botao-projetos {
    align-items: center;
    background-color: #fff;
    color: #155EC4;
    padding: 5px;
    width: 150px;
    margin-top: 20px;
    display: inline-flex;
    border: 2px solid #155EC4;
    border-radius: 15px;
}
.botao-projetos p {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.botao-projetos:hover {
    cursor: pointer;
    background-color: #155EC4;
    color: #fff;
}

/* fim projetos */

/* contato */

form {
    width: 70%;
    max-width: 900px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    background-color: #00659483;
    border-radius: 15px;
    color: #fff;
}

form input::placeholder {
    color: #ffffff81;
    font-size: 22px;
}

form textarea::placeholder {
    color: #ffffff81;
    font-size: 22px;
}

form textarea {
    resize: none;
    height: 250px;
    font-size: 22px;
}

.btn-enviar {
    margin-top: 35px;
}

.btn-enviar input {
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    color: #155EC4;
    border: 2px solid #155EC4;
}

.btn-enviar input:hover {
    cursor: pointer;
    background-color: #155EC4;
    color: #fff;
}

#contato {
    margin-top: 40px;
    margin-bottom: 40px;
}
/*fim contato*/

/* rodapé */

footer {
    background-color: #006494;
    text-align: center;
}

footer .rodape {
    width: 70%;
    display: block;
    justify-content: space-between;
    text-align: center;
    margin: 100px;
    color: #fff;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}

.links a {
    padding: 0px 20px;
    text-decoration: underline;
    color: #fff;
}

.links a:hover {
    font-weight: bold;
    transform: scale(1.1);
    cursor: pointer;
}

.rodape .nome {
    margin-top: 60px;
    font-size: 17px;
    color: #ffffff81;
}

/* fim rodapé */

/* menu-mobile */

.menu-mobile {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    background-color: #006494;
    overflow: hidden;
    transition: .3s;
}

.menu-mobile.abrir-menu {
    width: 65%;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul a {
    color: #fff;
    font: 20px;
    font-weight: 400;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav ul a:hover {
    background-color: #155ec4;
    font-weight: bold;
}

.menu-mobile .btn-fechar {
    font-size: 40px;
    padding: 15px;
    font-weight: bold;
    color: #fff;
}

.btn-abrir-menu a {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.overlay-menu {
    background-color: #000000b7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.btn-fechar:hover {
    cursor: pointer;
}

/* fim menu-mobile */

/*navegação*/

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

:target {
    scroll-margin-top: 8em;
}